extends layout.pug

block content
  if query !== undefined
    h1 Search Results for "#{query}"
  else
    h1 Search for something!
  
  form(action="/search", method="GET")
    input(type='search', name="q", value=query)
    button(type='submit') Search
    
  ul.results
    each result, index in results
      li
        div
          img(src=result.artworkUrl100)
        div.info
          p.artist=result.artistName
          p.collection=result.collectionName
